/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin: 60px 0;
  background-color:#f9f9f9;
}

.content {
	margin-top: 30px;
}

#function_return_message {
	border: 1px;
	border-radius: 4px;
	
    -moz-animation: cssAnimation 7s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 7s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 7s forwards;
    /* Opera */
    animation: cssAnimation 7s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}

.container {
  width: auto;
  max-width: 1132px;
  padding: 0 15px;
}
.container.body {
     background-color:#FFF;
  border: #e7e7e7 1px solid;
  border-bottom: 0px; 
}

.footer {
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #e7e7e7;
  /* Set the fixed height of the footer here */
}
@media (min-width: 768px) {
.footer{ border-radius: 4px;}
.offset-right {    left: -110px; }
.navbar-brand{ 
    visibility:hidden;
display:none;}
}
.panel h1, .panel h2, .panel h3 { margin-top:0;}

/*.dropdown-toggle:focus + .dropdown-menu { display: block; }*/ 